.places__paragraph{
  margin: 0;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.places__paragraph:not(:first-of-type){
  margin-top: 26px;
}

@media screen and (max-width: 768px) {
  .places__paragraph {
    font-size: 16px;
  }

  .places__paragraph:not(:first-of-type){
    margin-top: 25px;
  }
}
