.footer__container {
  display: flex;
  max-width: 1184px;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 92px 48px 0;
  padding-bottom: 24px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .footer__container {
    margin: 88px 48px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer__container {
    margin: 64px auto 0;
  }
}
