.cover__container {
  display: flex;
  margin: 92px auto 0;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 1184px;
  height: 740px;
  width: auto;

  position: relative;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 62.5%; */
}

.cover__container:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #2A2C2F;
  opacity: 0.3;
  transition: all .5s;
}

.cover__container:hover:before {
  opacity: 0.7;
}

@media screen and (max-width: 1024px){
  .cover__container {
    max-height: 640px;
  }
}

@media screen and (max-width: 768px){
  .cover__container {
    max-height: 480px;
  }
}

@media screen and (max-width: 320px){
  .cover__container {
    margin: 66px auto 0;
    max-height: 200px;
  }
}
