.lead__title {
  margin: 0 132px 32px;
  font-weight: 900;
  font-size: 96px;
  text-align: center;
  line-height: 1.04;
  color: #fff;
  max-width: 720px;
}

@media screen and (max-width: 1024px){
  .lead__title {
    margin: 0 104px 32px;
  }
}

@media screen and (max-width: 768px){
  .lead__title {
    margin: 0 24px 32px;
  }
}

@media screen and (max-width: 767px){
  .lead__title {
    margin: 0 0 16px;
    font-size: 40px;
    line-height: 1.1;
  }
}
