.places__place {
  margin: 80px auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 48px;
  column-gap: 40px;
  max-width: 984px;
}

.places__place:first-of-type {
  margin: 92px auto 0;
}
