.cover__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  text-align: center;
  max-width: 560px;
  color: white;
  position: relative;
  top: 245px;
  left: 312px;
}
